@{
    ViewData["Title"] = "Demo Prezka";
}

<!-- Client side libs required  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">

<style>
    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    main {
        margin: 20px;
        text-align:center;
    }

    .dropzone {
        border: 3px dashed #00a1f1;
        background: #F0F8FF;
        margin: 25px;
        border-radius: 5px;
        max-width: 400px;
    }

        .dropzone .dz-message {
            font-weight: 350;
        }

            .dropzone .dz-message .note {
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 200;
                display: block;
                margin-top 1.5rem;
            }

    .karta
    {
        max-width:250px;
    }
</style>


<main>
    <div class="box header">
        <h1><span class="fa fa-user-circle-o"></span> <span id="page-title">Demo Prezentacja</span></h1>
    </div>

    <div class="box content">
        <hr>
        <h2>Wgraj zdjęcie zawierające twarze, aby je przeanalizować</h2>
        <div>
            <form action="/api/images/upload"
                  class="dropzone needsclick dz-clickable"
                  id="image-upload"
                  method="post"
                  enctype="multipart/form"
                  style="display:inline-block;">
                 

                <div class="dz-message needsclick">
                    <span class="note needsclick">
                        Upuść albo kliknij tutaj aby wgrać zdjęcie.
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div id="karty" class="card-deck"></div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>

    function loadCards() {
        $.get("api/Images/thumbnails", function (datas) {

            var counter = 1;
            $("#karty").html("");

            $.each(datas, function (key, data){

                var bgColor = 'bg-primary'; 
                var borderColor = 'border-primary';

                if (data.faceAttributes.gender == 'female') {
                    bgColor = 'bg-danger';
                    borderColor = 'border-danger';
                }

                var karta = $('<div/>')
                    .addClass('karta')
                    .addClass('card')
                    .addClass('text-left')
                    .addClass(borderColor)
                    .addClass('mx-auto');

                var divbody1 = $('<div/>')
                    .addClass(bgColor)
                    .addClass('text-white')
                    .addClass('card-body');
                var h5body1 = $('<h5/>')
                    .text("Informacje o twarzy ").append(counter)
                    .addClass('card-title');

                var ul1 = $('<ul/>').addClass('list-group').addClass('list-group-flush').attr("id", "infolist");
                var li1 = $('<il/>').addClass('list-group-item').text("Płeć: ").append(data.faceAttributes.gender);
                var li2 = $('<il/>').addClass('list-group-item').text("Wiek: ").append(data.faceAttributes.age);
                var li3 = $('<il/>').addClass('list-group-item').text("Uśmiech: ").append((data.faceAttributes.smile * 100).toFixed(1)).append("%");
                var li4 = $('<il/>').addClass('list-group-item').text("Okulary: ").append(data.faceAttributes.glasses);

                ul1.append(li1).append(li2).append(li3).append(li4);

                var divbody2 = $('<div/>')
                    .addClass('card-body');
                var h5body2 = $('<h5/>')
                    .text("Włosy na twarzy")
                    .addClass('card-title');

                var ul2 = $('<ul/>').addClass('list-group').addClass('list-group-flush').attr("id", "infolist");
                var li11 = $('<il/>').addClass('list-group-item').text("Wąsy: ").append((data.faceAttributes.facialHair.moustache * 100).toFixed(1)).append("%");
                var li22 = $('<il/>').addClass('list-group-item').text("Broda: ").append((data.faceAttributes.facialHair.beard * 100).toFixed(1)).append("%");
                var li33 = $('<il/>').addClass('list-group-item').text("Boczki: ").append((data.faceAttributes.facialHair.sideburns * 100).toFixed(1)).append("%");

                ul2.append(li11).append(li22).append(li33);

                var divbody3 = $('<div/>')
                    .addClass('card-body');
                var h5body3 = $('<h5/>')
                    .text("Emocje")
                    .addClass('card-title');

                var ul3 = $('<ul/>').addClass('list-group').addClass('list-group-flush').attr("id", "infolist");
                var lis1 = $('<il/>').addClass('list-group-item').text("Złość: ").append((data.faceAttributes.emotion.anger * 100).toFixed(1)).append("%");
                var lis2 = $('<il/>').addClass('list-group-item').text("Pogarda: ").append((data.faceAttributes.emotion.contempt * 100).toFixed(1)).append("%");
                var lis3 = $('<il/>').addClass('list-group-item').text("Obrzydzenie: ").append((data.faceAttributes.emotion.disgust * 100).toFixed(1)).append("%");
                var lis4 = $('<il/>').addClass('list-group-item').text("Strach: ").append((data.faceAttributes.emotion.fear * 100).toFixed(1)).append("%");
                var lis5 = $('<il/>').addClass('list-group-item').text("Szczęście: ").append((data.faceAttributes.emotion.happiness * 100).toFixed(1)).append("%");
                var lis6 = $('<il/>').addClass('list-group-item').text("Neutral: ").append((data.faceAttributes.emotion.neutral * 100).toFixed(1)).append("%");
                var lis7 = $('<il/>').addClass('list-group-item').text("Smutek: ").append((data.faceAttributes.emotion.sadness * 100).toFixed(1)).append("%");
                var lis8 = $('<il/>').addClass('list-group-item').text("Zaskoczenie: ").append((data.faceAttributes.emotion.surprise * 100).toFixed(1)).append("%");

                ul3.append(lis1).append(lis2).append(lis3).append(lis4).append(lis5).append(lis6).append(lis7).append(lis8);

                divbody1.append(h5body1);

                divbody2.append(h5body2);

                divbody3.append(h5body3);
                karta.append(divbody1).append(ul1).append(divbody2).append(ul2).append(divbody3).append(ul3);

                counter++;
                $("#karty").append(karta);
            });
        });
      }

    /* Dropzone */
    // "imageUpload" is the camelized version of the HTML element's ID
    Dropzone.options.imageUpload = {
        paramName: "files", // The name that will be used to transfer the file
        dictDefaultMessage: "Upuść albo kliknij tutaj aby wgrać zdjęcie.",
        addRemoveLinks: true, // Allows for cancellation of file upload and remove thumbnail
        init: function () {
            myDropzone = this;
            myDropzone.on("success", function (file, response) {
                console.log("Success");
                loadCards();
                myDropzone.removeFile(file);
            });
        }
    };
</script>

